/* ----------- Non-Retina Screens ----------- */
@media screen and (min-width: 768px) {

    .h:hover {
        cursor: pointer;
    }
        m-card.h:hover {
            background-color: #EEE;
        }

    m-notification {
        max-width: 300px;
        left: initial;
        right: 20px;
        bottom: 20px;
    }
    
    i.selectable:hover {
        cursor: pointer;
        opacity: .25;
    }
    
    .selectable m-card:not(.nH):hover {
        cursor: pointer;
        background-color: #FAFAFA;
    }
        .selectable m-card.active[data-label="Settings Body"]:not(.nH):hover,
        .selectable m-card.primary:not(.nH):hover {
            background-color: #0a4876;
        }
    .selectable m-flex.hB:hover {
        cursor: pointer;
        background-color: #FAFAFA;
    }
    
    m-dateoptions span:hover,
    m-timeoptions span:hover,
    m-datebody table td:hover {
        cursor: pointer;
    }

    m-module {
        width: 60vw;
        max-width: 750px;
        min-width: 490px;
        margin: 0 auto;
        -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    m-a:hover {
        cursor: pointer;
        text-decoration: underline;
    }

}

@media screen and (min-width: 1024px) {
    
    
}

@media screen and (min-width: 1800px) {
    
    

}

/* ----------- Retina Screens ----------- */