<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
      <add key="endpoint" value="https://api.bambino.software/Api/TimeTracker/AutomateOut"/>
      <add key="authenticationId" value="3cc44327063f42919487e9a021eb958a54e37d7b9f9346d78eecc10c3d38796ce4cf2a3980a94dfea568639473bd30fa79de697819504d5b9293e5ca6dd3163c32e865c87e8c438488fa1414fa7f83e9"/>
    </appSettings>
</configuration>
