<!DOCTYPE html>
<html>
<head>

    <link rel="icon" href="https://entdesign.com/wp-content/uploads/2016/02/cropped-icon-32x32.png" sizes="32x32">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bambino | Admin</title>

    <link href="https://authentication.bambino.software/Content/Styles/reset.css" rel="stylesheet" />
    <link href="https://authentication.bambino.software/Content/Styles/flex.css" rel="stylesheet" />
    <link href="https://authentication.bambino.software/Content/Styles/flexDesktop.css" rel="stylesheet" />
    <link href="/Content/Styles/site.css" rel="stylesheet" />

</head>
<body>

    <script src="https://authentication.bambino.software/Content/Scripts/JQuery/jquery-3.3.1.min.js"></script>
    <script src="https://authentication.bambino.software/Content/Scripts/JQuery/jquery.mobile-events.js"></script>

    <script src="https://authentication.bambino.software/Content/Scripts/Libraries/moment.js"></script>
    <script src="https://authentication.bambino.software/Content/Scripts/Libraries/moment-timezone-with-data.min.js"></script>
    <script src="https://authentication.bambino.software/Content/Scripts/Libraries/velocity.js"></script>
    <script src="https://authentication.bambino.software/Content/Scripts/Libraries/velocity.ui.min.js"></script>

    <script src="https://authentication.bambino.software/Content/Scripts/Modules/module.validation.js?@(ViewBag.Version)"></script>
    <script src="https://authentication.bambino.software/Content/Scripts/Modules/module.global.js?@(ViewBag.Version)"></script>
    <script src="https://authentication.bambino.software/Content/Scripts/Modules/module.js?@(ViewBag.Version)"></script>
    <script src="https://desktop.bambino.software/Content/Scripts/Modules/module.log.js?@(ViewBag.Version)"></script>

    <script src="~/Content/Scripts/Modules/module.role.js?@(ViewBag.Version)"></script>
    <script src="~/Content/Scripts/Modules/module.company.js?@(ViewBag.Version)"></script>
    <script src="~/Content/Scripts/Modules/module.members.js?@(ViewBag.Version)"></script>
    <script src="~/Content/Scripts/Modules/module.application.js?@(ViewBag.Version)"></script>

</body>
</html>